<p>timer-list works!</p>
<div class="timerlist" *ngIf="timers">
   <table mat-table [dataSource]="timers" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <ng-container matColumnDef="programme">
        <th mat-header-cell *matHeaderCellDef>Programme</th>
        <td mat-cell *matCellDef="let t">{{t.name}}</td>
      </ng-container>
      <ng-container matColumnDef="channel">
         <th mat-header-cell *matHeaderCellDef>Channel</th>
         <td mat-cell *matCellDef="let t"> {{t.servicename}} </td>
       </ng-container>
       <ng-container matColumnDef="repeated">
         <th mat-header-cell *matHeaderCellDef>Repeated</th>
         <td mat-cell *matCellDef="let t">{{t.repeated}}</td>
       </ng-container>
       <ng-container matColumnDef="duration">
         <th mat-header-cell *matHeaderCellDef>Duration</th>
         <td mat-cell *matCellDef="let t">{{t.end - t.begin}}</td>
       </ng-container>
       <ng-container matColumnDef="start">
         <th mat-header-cell *matHeaderCellDef>Start</th>
         <td mat-cell *matCellDef="let t">{{utils.formatTimerDate(t.begin)}}</td>
       </ng-container>
       <ng-container matColumnDef="end">
         <th mat-header-cell *matHeaderCellDef>End</th>
         <td mat-cell *matCellDef="let t">{{utils.formatTimerDate(t.end)}}</td>
       </ng-container>
       <ng-container matColumnDef="options">
         <th mat-header-cell *matHeaderCellDef>Options</th>
         <td style='white-space: nowrap' mat-cell *matCellDef="let t">
            <button class="" (click)="edittimer(t)" title="Edit">
               <mat-icon aria-hidden="false" aria-label="Edit timer" fontIcon="edit"></mat-icon>
            </button>
            <button class="" (click)="deletetimer(t)" title="Cancel">
               <mat-icon aria-hidden="false" aria-label="Cancel timer" fontIcon="cancel"></mat-icon>
            </button>            
         </td>
       </ng-container>
   
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr class="row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
   </table>
</div>   
