// src/app/timer-list/timer-list.component.scss
.row {
   height: 30px;
   margin-top: 0px;
   margin-bottom: 0px;
   padding-top:0px;
   padding-bottom:0px;
   font-size:16px;
}

td.nowrap
{
   white-space: nowrap
}

.rowinprogress
{
   background-color: rgba(255, 0, 0, 0.125) !important;
}

.rownew
{
   background-color: rgba(0, 255, 0, 0.125) !important;
}
// It seems that the hidden child row counts as a row, so each visible row is an actual
// count of 2, so
// dark rows:  0, 4, 8, 12
// light rows: 2, 6, 10, 14
// child rows: 1, 3, 5, 7
// except that the row index starts at 1:
// dark:  1,        5,          9,             13,
// light:     3,          7,           11,              15
// child:   2,   4,    6,    8,    10,     12,     14
.mat-mdc-row:nth-child(4n+1) {
   background-color: rgba(216, 215, 212, 0.288);
}
.mat-mdc-row:nth-child(2n) {
  background-color: rgba(216, 215, 212, 0.075);
}
.mat-mdc-row:nth-child(4n+3) {
   background-color: rgba(216, 215, 212, 0.125);
}


.mat-mdc-header-row
{
     background-color: rgba(192, 189, 2, 0.623);
     height: 30px;
     font-weight: bold;
}

.mat-mdc-row
{
     height: 0px;
}

.mat-mdc-cell, .mat-mdc-header-cell
{
     border: none !important;
     padding: 0px 1px 0px 1px !important;
}

.mat-column-start,
.mat-column-end,
.mat-column-sdate,
.mat-column-repeated,
.mat-column-options
{
    white-space: nowrap;
}

.mat-column-options
{
   padding: 1px 0px 1px 0px !important;
}
.mat-column-programme
{
   min-width: 200px;
}

button[mat-icon-button].mat-mdc-icon-button.small {
   zoom: 0.8 !important;
}

// margin-left causes the option buttons to be flushed to the right of the
// expanded detail cell which is sort of the same when they are displayed in
// normal mode.
.cell-option
{
   margin-left: auto
}

.timer-cancel {
   background-color: rgb(255, 80, 80)  !important;
}

.timer-edit {
   background-color: rgb(80, 255, 80) !important;
   margin-right: 10px;
}

tr.timer-detail-row {
   height: 0;
}

.timer-detail-wrapper
{
   overflow: hidden;
   display: grid;
   grid-template-rows: 0fr;
   grid-template-columns: 100%;
   transition: grid-template-rows 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.timer-detail-wrapper-expanded
{
   grid-template-rows: 1fr;
}

.timer-detail {
   display: flex;
   min-height: 0;
}

.timer-detail-item {
   padding: 2px;
}

.timer-toggle-button {
   transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.timer-toggle-button-expanded {
   transform: rotate(180deg);
}

.action-button
{
   margin-left: 5px;
   margin-right: 5px;
}

// Trying to get the top right close window button to vertically align with the
// title text - no way to get it to move up to a suitable position!!!!
.mat-mdc-card-header
{
   display:inline;
}

// This is the only way that I've tried (thousands!!) that actually moves the close
// button up to be level with the title text on the right.
.close-button
{
   position: relative;
   top: -6px;
}
.title-card-left
{
   display: inline;
}

.title-card-right
{
   display: inline;
   float: right;
}

// Apparently there are no standard classes for the standard color variants anymore.
.mat-error
{
   background-color: var(--mat-sys-error) !important;
}
.mat-mdc-card-actions
{
   display:inline;
   margin-top: 0px;
}

.actions-card-right
{
   display: inline;
   float: right;
   margin-bottom: 10px;
   margin-right: 10px
}

.actions-card-left
{
   display: inline;
   margin-bottom: 10px;
}

