@use '@angular/material' as mat;
.row
{
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  margin-bottom: 0px;
}

.col {
  flex: 1;
}

.col:last-child {
  margin-right: 0;
}

.full-width {
  width: 100%;
}

.width3 {
   width: 33%;
}

.marginr10
{
   margin-right:10px;
}

.actions-card-right
{
   display: inline;
   float: right;
   margin-bottom: 10px;
   margin-right: 10px
}

.actions-card-left
{
   display: inline;
   margin-bottom: 10px;
}

 // https://material.angular.dev/components/checkbox/styling
//.repeated {
//   @include mat.checkbox-overrides((
//      touch-target-size:10px,
//      label-text-color: orange,
//      selected-icon-color: red,
//   ));
// }
//
// .mdc-checkbox
// {
//   width: 20px
// }

// Customize the entire app. Change :root to your selector if you want to scope the styles.
// values for shape from https://material.angular.dev/guide/theming-your-components#shape
// NB there is NOTHING about shape in the v20 docs! Even in v21 docs there is no
// hint about how to actually use the forking values.
// FYI The shape setting only works when applied to the toggle group, the colours
// work on both button and group. The class is currently being applied to only the group.
.repeated {
  @include mat.button-toggle-overrides((
    background-color: rgba(255, 166, 0, 0.205),
    selected-state-background-color: rgb(116, 228, 51),
    shape: var(--mat-sys-corner-extra-small),
  ));
}

.timepick-width
{
  width: 158px;
}.datepick-width
{
  width: 212px;
}


// A bunch of stuff to try to emulate the frame around input
// boxes drawn by mat-form-field which cannot be used for
// button groups or checkboxes and there is no material
// equivalent of a frame
.outline-div
{
   margin-bottom: 20px;
   width: 325px;
}

.outline-card
{
   border-radius: 4px;
   border-style: solid;
   border-width: 1px;
   border-color: var(--mat-sys-outline);
   background-color:var(--mat-sys-background);
   box-shadow: none;
}

.outline-label
{
   position: absolute;
   top: -9px;
   left: 10px;
   background-color:var(--mat-sys-background);
   padding-left: 4px;
   padding-right: 4px;

   font-size: 9pt;
   line-height: normal;
   color: var(--mat-sys-on-surface-variant);
}

.outline-space
{
   padding-top:0px;
   padding-bottom:0px;
   margin-top:3px;
   margin-bottom:1px;
   padding-left: 12px;
   padding-right: 2px;
}

// Almost impossible to adjust the size of the buttons, eg. to remove
// the excessive amount of space around the text. Only way that was
// successful was to change the density but then the size of the outline
// cannot be adjusted to be the same as the channel outline, 1px margin
// is too little, 2px margin is too much. In the end gave up an just have to
// accept the ugly, wasteful, whitespace.
//.repbutton-space
//{
//   @include mat.button-toggle-density(-3);
//}
