<!-- src/app/timer-edit/timer-edit.component.html -->
<!--
   The timer editing component. It will be displayed as a dialog but is written
   without the dialog code so it could be included in its own page if
   it turns out to be better than way.
-->
<mat-card class="so-card" appearance="outlined">
   <mat-card-header class="so-card-head">
     <mat-card-title>Timer Edit</mat-card-title>
   </mat-card-header>
   <form [formGroup]="editForm" novalidate (ngSubmit)="onSubmit()">
      <mat-card-content>
         <div class="row">
            <div class="col nowrap ">
               <mat-form-field appearance="outline" class="leftpad marginr datepick-width">
                  <mat-label>Start Date</mat-label>
                  <input matInput [matDatepicker]="startdatepicker" placeholder="dd/mm/yyyy" formControlName="startdate">
                  <mat-datepicker-toggle matIconSuffix [for]="startdatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #startdatepicker></mat-datepicker>
               </mat-form-field>

               <mat-form-field appearance="outline" class="leftpad marginr timepick-width">
                  <mat-label>Start time</mat-label>
                  <input matInput [matTimepicker]="starttimepicker" (blur)="checkStartTime()" formControlName="starttime">
                  <mat-timepicker-toggle [for]="starttimepicker" matSuffix/>
                  <mat-timepicker interval="5m" #starttimepicker/>
               </mat-form-field>

               <mat-form-field appearance="outline" class="leftpad timepick-width">
                  <mat-label>End time</mat-label>
                  <input matInput [matTimepicker]="endtimepicker"  (blur)="checkEndTime()" formControlName="endtime">
                  <mat-timepicker-toggle [for]="endtimepicker" matSuffix/>
                  <mat-timepicker interval="5m" #endtimepicker/>
               </mat-form-field>
            </div>

            <div class="col">
               <div class="outline-div">
               <mat-card class="outline-card">
                  <mat-card-header class="outline-space">
                     <mat-card-title class="outline-label">Repeat</mat-card-title>
                  </mat-card-header>
                  <mat-card-content class="outline-space">
                     <mat-button-toggle-group class="repeated" name="repeated" [hideMultipleSelectionIndicator]="true" multiple>
                        @for (repday of repdays; track repday; let i = $index)
                        {
                           <!-- event.source is a MatToggleButton: https://v20.material.angular.dev/components/button-toggle/api#MatButtonToggleChange -->
                           <mat-button-toggle class="repbutton-space" [checked]="repday.repeaton" (change)="updateRepeat($event.source.checked, i)" [value]="i">{{repday.name}}</mat-button-toggle>
                        }
                     </mat-button-toggle-group>
                  </mat-card-content>
                  <mat-card-footer class="outline-space"></mat-card-footer>
               </mat-card>
               </div>
            </div>
         </div>
         <div class="row">   <!-- channel selector -->
            <div class="col full-width">
               <mat-form-field  appearance="outline" class=" full-width ">
                  <mat-label>Channel</mat-label>
                  <mat-select placeholder="Nothing" formControlName="channelid">
                     @for (chan of channels; track chan) {
                        <mat-option [value]="chan">{{ chan.servicename }}</mat-option>
                     }
                  </mat-select>
               </mat-form-field>
            </div>
         </div>
         <div class="row">
            <div class="col full-width">
               <mat-form-field  appearance="outline" class="full-width ">
                  <mat-label>Name</mat-label>
                  <input class="leftpad" matInput placeholder="" formControlName="timername">
               </mat-form-field>
            </div>
         </div>
         <!-- Original form contains additional items that I never use:
                  Action - always record
                  After event - always do nothing
         -->
      </mat-card-content>
      <mat-card-actions>
         <div class="actions-card-right">
            <button class="marginr" mat-stroked-button type="reset" (click)="onCancel()">Cancel</button>
            <button mat-flat-button type="submit" [disabled]="submitDisabled()">Submit</button>
         </div>
      </mat-card-actions>
   </form>
</mat-card>
