<!-- src/app/timer-edit/timer-edit.component.html -->
<!--
   The timer editing component. It will be displayed as a dialog but is written
   without the dialog code so it could be included in its own page if
   it turns out to be better than way.
   NB. It is based on the standing order dialog, mainly because that has two
   date fields... although it is two datetime fields that are required here...
-->
<mat-card class="so-card" appearance="outlined">
   <mat-card-header class="so-card-head">
     <mat-card-title>Timer Edit</mat-card-title>
   </mat-card-header>
   <form [formGroup]="editForm" novalidate (ngSubmit)="onSubmit()">
     <mat-card-content>
        <div class="row">
           <div class="col">
              <mat-form-field appearance="outline">
                 <mat-label>Start Date</mat-label>
                 <input matInput [matDatepicker]="startdatepicker" placeholder="dd/mm/yyyy" formControlName="startdate">
                 <mat-datepicker-toggle matIconSuffix [for]="startdatepicker"></mat-datepicker-toggle>
                 <mat-datepicker #startdatepicker></mat-datepicker>
              </mat-form-field>

               <mat-form-field appearance="outline">
                  <mat-label>Start time</mat-label>
                  <input matInput [matTimepicker]="starttimepicker" (blur)="checkStartTime()" formControlName="starttime">
                  <mat-timepicker interval="5m" #starttimepicker/>
                  <mat-timepicker-toggle [for]="starttimepicker" matSuffix/>
               </mat-form-field>
               <mat-form-field appearance="outline">
                  <mat-label>End time</mat-label>
                  <input matInput [matTimepicker]="endtimepicker"  (blur)="checkEndTime()" formControlName="endtime">
                  <mat-timepicker interval="5m" #endtimepicker/>
                  <mat-timepicker-toggle [for]="endtimepicker" matSuffix/>
               </mat-form-field>
           </div>
        </div>

        <!-- Day checkboxes for repeats  -->
        <div class="row">
           <div class="col">
               <mat-label>Repeat</mat-label>
               @for (repday of repdays; track repday; let i = $index)
               {
                  <mat-checkbox [checked]="repday.repeaton" (change)="updateRepeat($event.checked, i)">{{repday.name}}</mat-checkbox>
               }
           </div>
        </div>

        <div class="row">   <!-- channel selector -->
         <div class="col">
              <mat-form-field  appearance="outline" class="full-width">
                 <mat-label>Channel</mat-label>
                 <mat-select placeholder="Nothing" formControlName="channelid">
                    @for (chan of channels; track chan) {
                    <mat-option [value]="chan">{{ chan.servicename }}</mat-option>
                    }
                 </mat-select>
              </mat-form-field>
           </div>
        </div>
        <div class="row">
           <mat-form-field  appearance="outline" class="full-width">
              <mat-label>Name</mat-label>
              <input matInput placeholder="" formControlName="timername">
           </mat-form-field>
        </div>

      <!-- Original form contains additional items that I never use:
               Action - always record
               After event - always do nothing
      -->
      </mat-card-content>
      <mat-card-actions>
         <div class="actions-card-right">
            <button mat-stroked-button type="reset" (click)="onCancel()">Cancel</button>
            <button mat-flat-button type="submit" [disabled]="!editForm.valid">Submit</button>
         </div>
      </mat-card-actions>
  </form>
</mat-card>
