@use '@angular/material' as mat;
.row
{
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  margin-bottom: 0px;
}

.col {
  flex: 1;
}

.col:last-child {
  margin-right: 0;
}

.full-width {
  width: 100%;
}

.width3 {
   width: 33%;
}

.marginr10
{
   margin-right:10px;
}

.actions-card-right
{
   display: inline;
   float: right;
   margin-bottom: 10px;
   margin-right: 10px
}

.actions-card-left
{
   display: inline;
   margin-bottom: 10px;
}

 // https://material.angular.dev/components/checkbox/styling
//.repeated {
//   @include mat.checkbox-overrides((
//      touch-target-size:10px,
//      label-text-color: orange,
//      selected-icon-color: red,
//   ));
// }
//
// .mdc-checkbox
// {
//   width: 20px
// }

// Customize the entire app. Change :root to your selector if you want to scope the styles.
// values for shape from https://material.angular.dev/guide/theming-your-components#shape
// NB there is NOTHING about shape in the v20 docs! Even in v21 docs there is no
// hint about how to actually use the forking values.
// FYI The shape setting only works when applied to the toggle group, the colours
// work on both button and group. The class is currently being applied to only the group.
.repeated {
  @include mat.button-toggle-overrides((
    background-color: rgba(255, 166, 0, 0.205),
    selected-state-background-color: rgb(116, 228, 51),
    shape: var(--mat-sys-corner-extra-small)
  ));
}

.timepick-width
{
  width: 158px
}