<!-- src/app/timer-edit/timer-edit.component.html -->
<!--
   The timer editing component. It will be displayed as a dialog but is written
   without the dialog code so it could be included in its own page if
   it turns out to be better than way.
   NB. It is based on the standing order dialog, mainly because that has two
   date fields... although it is two datetime fields that are required here...
-->
<mat-card class="so-card" appearance="outlined">
   <mat-card-header class="so-card-head">
     <mat-card-title>Timer Edit</mat-card-title>
   </mat-card-header>
   <form [formGroup]="editForm" novalidate (ngSubmit)="onSubmit()">
     <mat-card-content>
      <!-- Original form has a datepicker for the start date and two dropdowns for the HH and mm
           where the MM are in 5min increments
           The end time is five dropdowns for YYYY, MM, DD and HH mm. I think the date is
           probably restricted to not being less than currently selected start time.
           Don't think I want to do it like this but currently don't have an idea how I will do it...
      -->

         <!-- these need to include the time!! -->
        <div class="row">
           <div class="col">
              <mat-form-field  appearance="outline" class="full-width">
                 <mat-label>Start Date</mat-label>
                 <input matInput [matDatepicker]="startdatepicker" (change)="updateStart()" placeholder="dd/mm/yyyy" formControlName="startdate">
                 <mat-datepicker-toggle matIconSuffix [for]="startdatepicker"></mat-datepicker-toggle>
                 <mat-datepicker #startdatepicker></mat-datepicker>
              </mat-form-field>
               <mat-form-field>
                  <mat-label>Start time</mat-label>
                  <input matInput [matTimepicker]="starttimepicker" (change)="updateStart()" formControlName="startdate">
                  <mat-timepicker interval="5m" #starttimepicker/>
                  <mat-timepicker-toggle [for]="starttimepicker" matSuffix/>
               </mat-form-field>
           </div>

         <!-- Might be worth considering just an end time, a time less than start time meaning the next day.
              Most recordings are on the same day so very tedious to have to enter the end day.
              Recording should probably limited to 4 or 5 hours anyway so no risk of abiguity for the end time.

              Need to initialise the date/time to either the timer to be edited or 'now' (or 12:00 midday)
           -->
           <div class="col">
              <mat-form-field  appearance="outline" class="full-width">
                 <mat-label>End Date</mat-label>
                 <input matInput [matDatepicker]="enddatepicker" (change)="updateEnd()" placeholder="dd/mm/yyyy" formControlName="enddate">
                 <mat-datepicker-toggle matIconSuffix [for]="enddatepicker"></mat-datepicker-toggle>
                 <mat-datepicker #enddatepicker></mat-datepicker>
              </mat-form-field>
               <mat-form-field>
                  <mat-label>End time</mat-label>
                  <input matInput [matTimepicker]="endtimepicker" (change)="updateEnd()" formControlName="enddate">
                  <mat-timepicker interval="5m" #endtimepicker/>
                  <mat-timepicker-toggle [for]="endtimepicker" matSuffix/>
               </mat-form-field>
           </div>
        </div>

        <!-- Day checkboxes for repeats  -->
        <div class="row">
           <div class="col">
               <mat-label>Repeat</mat-label>
               @for (repday of repdays; track repday; let i = $index)
               {
                  <mat-checkbox [checked]="repday.repeaton" (change)="update($event.checked, i)">{{repday.name}}</mat-checkbox>
               }
           </div>
        </div>

        <div class="row">   <!-- channel selector -->
         <div class="col">
              <mat-form-field  appearance="outline" class="full-width">
                 <mat-label>Channel</mat-label>
                 <mat-select placeholder="Nothing" formControlName="channelid">
                    @for (chan of channels; track chan) {
                    <mat-option [value]="chan.serviceref">{{ chan.servicename }}</mat-option>
                    }
                 </mat-select>
              </mat-form-field>
           </div>
        </div>
        <div class="row">
           <mat-form-field  appearance="outline" class="full-width">
              <mat-label>Name</mat-label>
              <input matInput placeholder="" formControlName="timername">
           </mat-form-field>
        </div>

      <!-- Original form contains additional items that I never use:
               Action - always record
               After event - always do nothing
      -->
      </mat-card-content>
      <mat-card-actions>
         <div class="actions-card-right">
            <button mat-stroked-button type="reset" (click)="onCancel()">Cancel</button>
            <button mat-flat-button type="submit" [disabled]="!editForm.valid">Submit</button>
         </div>
      </mat-card-actions>
  </form>
</mat-card>
